
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Connect
    link(href="/public/styles.css", rel="stylesheet")
  body
    h1 #{title}!
    main 
      div#welcome
        form 
          input(type="text", placeholder="Join Room", required)
          button Enter Room
      div#room
        h3
        ul
        form#nickname 
          input(type="text", placeholder="Enter nickname", required)
          button Save
        form#message
          input(type="text", placeholder="Enter message", required)
          button Send

    script(src="/socket.io/socket.io.js") 
    script(type="module", src="/public/index.js") 